<div class="navbar">
    <div class="logo">
        <img src="./assets/logo.png" alt="Logo">
    </div>
    <div class="searchBar">
        <input type="text" name="search" id="search" placeholder="Search for Products">
        <button>Search</button>
    </div>
    <div class="menu">
        <ul id="menuOption">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller">Seller</a></li>
            <li><a routerLink="seller">Login</a></li>
            <li><a routerLink="">Cart</a></li>
        </ul>
    </div>
</div>